<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Network (usually already present) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 13+ notifications runtime permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="school_application"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter splash/normal theme -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Flutter generated plugins -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- FCM: default icon & color for system-shown notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Use system black to avoid missing @color/black -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@android:color/black" />

        <!-- If you have a custom FirebaseMessagingService, declare it here (optional) -->
        <!--
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        -->
    </application>

    <!-- Keep package visibility query for Process Text -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>